<style>
    .modal {
        z-index: 1001;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(77, 77, 77, .7);
        transition: all .4s;
    }
    .modal:target {
        visibility: visible;
        opacity: 1;
    }

    .modal__content {
        border-radius: 10px;
        position: relative;
        width: 500px;
        max-width: 90%;
        background: #fff;
        padding: 2em;
    }

    .modal__close {
        font-size: 20px;
        position: absolute;
        top: calc(1em + 10px);
        right: 2em;
        color: #585858;
        text-decoration: none;
    }

    .add-step-modal__form {
        display: flex;
    }
</style>
<div id="add-step-modal" class="modal">
    <div class="modal__content">
        <a href="#" class="modal__close">&times;</a>
        <h2 class="page__title">Создание шага</h2>
        <form id="add-step-modal__form" class="form">
            <input type="hidden" name="stepIndex" value="">
            <div class="form-item">
                <label for="name">Название шага</label>
                <input class="input" type="text" name="name" required>
            </div>
            <div class="form-item">
                <label for="description">Описание</label>
                <textarea class="input" name="description" required></textarea>
            </div>
            <div class="form-item">
                <label for="duration">Длительность шага</label>
                <input class="input" type="number" name="duration" required>
            </div>
            <button class="button add-step-modal__submit" type="submit">Добавить шаг</button>
        </form>
    </div>
</div>