<style>
    .course {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .course-top {
        display: flex;
        gap: 40px;
    }

    .course-top__item {
        display: flex;
        gap: 15px;
    }

    .course-top__item-title {
        color: var(--gray-400);
    }

    .course-top__item-body {
        margin: 0 0;
    }

</style>
<div class="layout__cols">
    <div class="layout__col">
        <div class="sidebar tile tile--sm">
            <a class="sidebar__item" href="/">На главную страницу</a>
        </div>
    </div>
    <div class="layout__col layout__col--stretched">
        <div class="tile">
            <h2 class="page__title">Создание курса</h2>
            <div class="course">
                <div class="course-top">
                    <div class="course-top__item">
                        <span class="course-top__item-title">Название курса</span>
                        <p class="course-top__item-body">123</p>
                    </div>
                    <div class="course-top__item">
                        <span class="course-top__item-title">Описание</span>
                        <p class="course-top__item-body">345</p>
                    </div>
                </div>
                <div class="course-middle">
                    
                </div>
                <div class="course-steps"></div>
            </div>
        </div>
    </div>
</div>
<script>

</script>